@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.column{
  column-count: 4;
  column-rule: 3px solid red;
  column-gap: 20px;

}

p.para2{
  break-before: column;
}

h2.head{
  background-color: rgb(252, 23, 23);
  color: white;
  break-inside: avoid;
  break-before: column;
}

section .quote{
  column-span: all;
}